In [1]:
%load_ext autoreload
%autoreload 2
%load_ext watermark
%watermark -a "Kenneth Brezinski" -v

Author: Kenneth Brezinski

Python implementation: CPython
Python version       : 3.9.10
IPython version      : 8.0.1

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%watermark --iversions

pandas    : 1.4.1
matplotlib: 3.5.1

In [22]:
#df = pd.read_csv('data/covid19-google.csv')  # google data is big and is the same as CAN data
df = pd.read_csv('data/healthcare_CAN.csv')
df.head(3)

,OBJECTID,Province,Abbreviation,DailyTotals,SummaryDate,TotalCases,TotalRecovered,DailyRecovered,TotalDeaths,DailyDeaths,...,TotalICU,DailyICU,TotalVaccinated,DailyVaccinated,TotalDose1,DailyDose1,TotalDose2,DailyDose2,TotalBooster,DailyBooster
0,1,ALBERTA,AB,0,2020/01/25 12:00:00+00,0,0.0,0.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NWT,NT,0,2020/01/25 12:00:00+00,0,0.0,0.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,YUKON,YT,0,2020/01/25 12:00:00+00,0,0.0,0.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df = df.loc[df['Province'] == 'ONTARIO']
df['date'] = pd.to_datetime(df['SummaryDate'].apply(lambda d: d.split(' ')[0])).rename('date')
df = df.set_index('date')
df.head(3)

,OBJECTID,Province,Abbreviation,DailyTotals,SummaryDate,TotalCases,TotalRecovered,DailyRecovered,TotalDeaths,DailyDeaths,...,TotalICU,DailyICU,TotalVaccinated,DailyVaccinated,TotalDose1,DailyDose1,TotalDose2,DailyDose2,TotalBooster,DailyBooster
date,,,,,,,,,,,,,,,,,,,,,
2021-04-01,7103,ONTARIO,ON,2557,2021/04/01 12:00:00+00,352460,324196.0,1814.0,7389,23.0,...,433.0,37.0,2276313.0,84060.0,NaN,NaN,NaN,NaN,NaN,NaN
2021-04-02,7118,ONTARIO,ON,0,2021/04/02 12:00:00+00,352460,324196.0,0.0,7389,0.0,...,433.0,0.0,2276313.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2021-04-03,7133,ONTARIO,ON,6098,2021/04/03 12:00:00+00,358558,327940.0,3744.0,7428,39.0,...,451.0,18.0,2424063.0,147750.0,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# select date time after first wastewater data entry
df = df.loc[pd.Timestamp('2021-04-01'):, :]
df

,OBJECTID,Province,Abbreviation,DailyTotals,SummaryDate,TotalCases,TotalRecovered,DailyRecovered,TotalDeaths,DailyDeaths,...,TotalICU,DailyICU,TotalVaccinated,DailyVaccinated,TotalDose1,DailyDose1,TotalDose2,DailyDose2,TotalBooster,DailyBooster
date,,,,,,,,,,,,,,,,,,,,,
2021-04-01,7103,ONTARIO,ON,2557,2021/04/01 12:00:00+00,352460,324196.0,1814.0,7389,23.0,...,433.0,37.0,2276313.0,84060.0,NaN,NaN,NaN,NaN,NaN,NaN
2021-04-02,7118,ONTARIO,ON,0,2021/04/02 12:00:00+00,352460,324196.0,0.0,7389,0.0,...,433.0,0.0,2276313.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2021-04-03,7133,ONTARIO,ON,6098,2021/04/03 12:00:00+00,358558,327940.0,3744.0,7428,39.0,...,451.0,18.0,2424063.0,147750.0,NaN,NaN,NaN,NaN,NaN,NaN
2021-04-04,7148,ONTARIO,ON,0,2021/04/04 12:00:00+00,358558,327940.0,0.0,7428,0.0,...,451.0,0.0,2424063.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2021-04-05,7163,ONTARIO,ON,5979,2021/04/05 12:00:00+00,364537,331600.0,3660.0,7450,22.0,...,494.0,43.0,2545640.0,121577.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-22,12291,ONTARIO,ON,2617,2022/02/22 12:00:00+00,1090101,1057829.0,3911.0,12288,24.0,...,319.0,-5.0,31528557.0,27642.0,12551772.0,1881.0,11969223.0,5658.0,6890455.0,19673.0
2022-02-23,12306,ONTARIO,ON,1425,2022/02/23 12:00:00+00,1091526,1060530.0,2701.0,12306,18.0,...,319.0,0.0,31559024.0,30467.0,12554685.0,2913.0,11976167.0,6944.0,6908768.0,18313.0
2022-02-24,12321,ONTARIO,ON,2404,2022/02/24 12:00:00+00,1093930,1063134.0,2604.0,12347,41.0,...,302.0,-17.0,31588850.0,29826.0,12557712.0,3027.0,11983625.0,7458.0,6925565.0,16797.0
2022-02-25,12336,ONTARIO,ON,2427,2022/02/25 12:00:00+00,1096357,1065561.0,2427.0,12386,39.0,...,297.0,-5.0,31616302.0,27452.0,12560533.0,2821.0,11990650.0,7025.0,6940931.0,15366.0
2022-02-26,12351,ONTARIO,ON,2338,2022/02/26 12:00:00+00,1098695,1067714.0,2153.0,12420,34.0,...,284.0,-13.0,31645374.0,29072.0,12563214.0,2681.0,11998022.0,7372.0,6958202.0,17271.0

**Interesting COVID fields for**:

**features**
* numConf - number of confirmed cases

**targets**
* numTest

In [31]:
df.iloc[:, :10]

,OBJECTID,Province,Abbreviation,DailyTotals,SummaryDate,TotalCases,TotalRecovered,DailyRecovered,TotalDeaths,DailyDeaths
date,,,,,,,,,,
2021-04-01,7103,ONTARIO,ON,2557,2021/04/01 12:00:00+00,352460,324196.0,1814.0,7389,23.0
2021-04-02,7118,ONTARIO,ON,0,2021/04/02 12:00:00+00,352460,324196.0,0.0,7389,0.0
2021-04-03,7133,ONTARIO,ON,6098,2021/04/03 12:00:00+00,358558,327940.0,3744.0,7428,39.0
2021-04-04,7148,ONTARIO,ON,0,2021/04/04 12:00:00+00,358558,327940.0,0.0,7428,0.0
2021-04-05,7163,ONTARIO,ON,5979,2021/04/05 12:00:00+00,364537,331600.0,3660.0,7450,22.0
...,...,...,...,...,...,...,...,...,...,...
2022-02-22,12291,ONTARIO,ON,2617,2022/02/22 12:00:00+00,1090101,1057829.0,3911.0,12288,24.0
2022-02-23,12306,ONTARIO,ON,1425,2022/02/23 12:00:00+00,1091526,1060530.0,2701.0,12306,18.0
2022-02-24,12321,ONTARIO,ON,2404,2022/02/24 12:00:00+00,1093930,1063134.0,2604.0,12347,41.0
2022-02-25,12336,ONTARIO,ON,2427,2022/02/25 12:00:00+00,1096357,1065561.0,2427.0,12386,39.0
2022-02-26,12351,ONTARIO,ON,2338,2022/02/26 12:00:00+00,1098695,1067714.0,2153.0,12420,34.0