In [34]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [40]:
from utils.utils import get_labels, load_population_metadata

In [70]:
#get_labels('ON').head()
df2 = load_population_metadata()

In [76]:
df = get_labels(country_code='ON')
df.head()

            TotalCases  TotalHospitalized  TotalICU
date
2020-04-09        5759              632.0     478.0
2020-04-10        6237              673.0     477.0
2020-04-11        6648              691.0     472.0
2020-04-12        7049              738.0     457.0
2020-04-13        7470              760.0     466.0

In [72]:
# row, col
df / df2.loc['AB', 'population']

            TotalCases  TotalHospitalized  TotalICU
date
2020-04-09    0.001416           0.000155  0.000118
2020-04-10    0.001533           0.000165  0.000117
2020-04-11    0.001635           0.000170  0.000116
2020-04-12    0.001733           0.000181  0.000112
2020-04-13    0.001837           0.000187  0.000115
...                ...                ...       ...
2022-02-22    0.268024           0.000255  0.000078
2022-02-23    0.268374           0.000272  0.000078
2022-02-24    0.268966           0.000262  0.000074
2022-02-25    0.269562           0.000247  0.000073
2022-02-26    0.270137           0.000252  0.000070

[689 rows x 3 columns]